.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spinner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        #5B51D8,
        #9c1e8f,
        #902563,
        #c41960,
        #FD1D1D,
        #E1306C,
        #5B51D8
    );
    border: 16px solid transparent;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

